<h4>Please Enter Registration Card Details</h4>

<div id="result"></div>

<%= form_tag(calculate_tolls_path, :method=>'post', :remote=> true, :id => "form") do %>

    <p>
      On Govt Duty:<br />
      <%= select_tag("govt", options_for_select([['No', '0'],['Yes', '1']])) %>
    </p>

    <p>
      Vehicle Number:<br />
      <%= text_field_tag "number" %>
    </p>

    <p>
      Type: <br />
      <%= select_tag("type", options_for_select([['Non Transport', '0'],['Transport', '1']])) %>
    </p>

    <p>
      Number of Wheels:<br />
      <%= select_tag("wheels", options_for_select([['2'],['3'],['4'],['6']])) %>
    </p>

    <p class="axle" style="display: none;">
      Number of Axle:<br />
      <%= text_field_tag "axle" %>
      <span id="errmsg"></span>
    </p>

    <p>
      <%= submit_tag 'Submit', :id => "submit" %>
    </p>
<% end %>
