<%= form_tag(calculate_tolls_path, :method=>'post') do %>
    <p>
      On Govt Duty:<br />
      <%= select_tag("type", options_for_select([['No', '0'],['Yes', '1']])) %>
    </p>

    <p>
      Vehicle Number:<br />
      <%= text_field_tag "number" %>
    </p>

    <p>
      Type: <br />
      <%= select_tag("type", options_for_select([['Transport', '1'], ['Non Transport', '0']])) %>
    </p>

    <p>
      Number of Wheels:<br />
      <%= select_tag("type", options_for_select([['2'],['3'],['4'],[]])) %>
    </p>

    <p>
      Number of Axle:<br />
      <%= text_field_tag "axle" %>
    </p>

    <p>
      <%= submit_tag 'Submit' %>
    </p>
<% end %>

